<html lang="en" ng-app="magRed">
<head>
  <meta name="viewport" content="width=device-width" />
  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script src="http://do.onezerohosting.com/js/ui-bootstrap-tpls-0.12.0.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="css/style_vertical.css">
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="css/spa.css">
    <script src="/js/spa.js"></script>
</head>

<body>
    <div class="section black" id="section1">
    <ul class="nav">
        <li>Home</li>
        <li><a href="#section2">About</a></li>
    </ul>
    <div class="container" align="center">
        <div class="jumbotron">
            <h1>Magnet Redirect Service</h1>
            <p>When you want to share magnet links...</p>
        </div>
        <div ng-controller="MagRedController">
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
            <input type="text" size="40" ng-model="magnetUrl"/>
            <button class='btn btn-default' ng-click="getHttpUrl()">Submit Magnet URL</button>
            
            <div class="panel panel-primary">
                <div class="panel-heading">HTTP magnet URI's</div>
                <div class="panel-body">
                    <table class="table" data-toggle="table" data-cache="false" data-height="200" data-row-style="rowStyle">
                    <thead>
                    <tr>
                    <th data-field="magnet-link-field" class="col-md-2">Magnet Link</th>
                    <th data-field="short-link-field" class="col-md-2">Short Link</th>
                    <th data-field="bbcode-field" class="col-md-6">BBCode</th>
                    </tr>
                    </thead>
                    <tr ng-repeat="url in urls" ng-class-odd="odd" ng-class-even="even">
                        <td><a href="{{url.value}}" title="Magnet Link" id="magnet-link"></a></td>
                        <td><a href="{{url.short}}" title="Magnet Link" id="short-link">{{url.short}}</a></td>
                        <td><input type="text" id="bbcode-link" readonly value="{{url.bbc}}"></input></td>
                        <td>&nbsp</td>
                    </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="section white" id="section2">
    <ul class="nav">
        <li><a href="#section1">Home</a></li>
        <li>About</li>
    </ul>
    <div class="container" align="center">
    <div class="well"><div id="about"><p>Sometimes it seems that very simple (or seemingly so) application tasks require quite a bit of doing on the backend.  I found that to apparently be the case several days ago when I ran across a user attempting to share magnet URI's on a Discourse forum.  Something I too was trying to do.  So out of necessity and in an attempt to educate myself with AngularJS, I wrote this service.  You can read more about the original issue here: <a href="https://meta.discourse.org/t/how-do-you-insert-magnet-links-into-a-post/23568/2">https://meta.discourse.org/t/how-do-you-insert-magnet-links-into-a-post/23568/2</a>.</p>
                                      <p>As there was no ability to insert magnet URI's into the application editor and only Http URI's were allowed, I had to figure out a way to use standard Http.  I believe this would also be a problem with BBCode in general and thus other forum editors, although I've only tried Discourse thus far.  Anyway, I needed to be able to redirect from one URI scheme to another (http: to magnet:).  And that is exactly what this service does.  The angular single page application is really just a convenience, as you can simply use service directly by passing your magnet URI to &quot;http://magnet.june07.com/m?&quot;, inserting the URI after the &quot;?&quot;.  Hope a few others out there find it useful.</p></div></div>
    </div>
    </div>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script>
    $(function() {
    $('ul.nav a').bind('click',function(event){
        var $anchor = $(this);
 
        $('html, body').stop().animate({
            scrollTop: $($anchor.attr('href')).offset().top
        }, 1500,'easeInOutExpo');
        /*
        if you don't want to use the easing effects:
        $('html, body').stop().animate({
            scrollTop: $($anchor.attr('href')).offset().top
        }, 1000);
        */
        event.preventDefault();
    });
});
    </script>
</body>
</html>
